* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body,html {
    width: 100%;
    height: 100%;
    background-color: rgb(234, 227, 227);
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    background-color: lightseagreen;
    color: white;
    padding : 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 font-size: 16px;
    font-weight: bold;
    z-index: 10;
    
}
button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;

}
button:active{
    scale: 0.9;
}